<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/todo.css">
    <title>Todoit</title>
</head>
<body>
    <header>
        <nav>
            <h4>Todoit</h4>
            <a href="/auth/signout"><i class="fas fa-sign-out-alt"></i></a>
        </nav>
    </header>
    <div class="grid">
        <div class="left">
            <h4>Completed</h4>
            <h4>Settings</h4>
            <h4>Settings</h4>
            <h4>Settings</h4>
        </div>
        <div class="right">
            <div class="right-wrapper">
                <% const weekDays = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']%>
                <% const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']%>
                <h4><%= weekDays[new Date().getDay()]%></h4>
                <div class="addTodoDiv">
                    <i class="fas fa-plus"></i>
                    <button class="btn addTodo">Add Todo</button>
                </div>
                <div class="todos">
                </div>
                
                <%for(let key in todos) { %> 
                    <% if(todos[key].user == id) { %>
                        <div class="todo">
                            <div class="description"><%= todos[key].description %></div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <button class="dropdown-item toggle">Edit</button>
                                  <a class="dropdown-item" href="#">Date Created</a>
                                  <form class="dropdown-item insane" action="?_method=DELETE" method="POST">
                                        <input class="hidden" type="text" name="id" value="<%=todos[key]._id%>">
                                        <button class="dropdown-item">Complete</button>
                                  </form>
                                </div>
                                <form class="hiddenForm" action="?_method=PUT" method="POST">
                                    <input type="text" name="description" value="<%=todos[key].description%>">
                                    <input class="hidden" type="text" name="id" value="<%=todos[key]._id%>">
                                    <button type="submit"><i class="far fa-check-square"></i></button>
                                </form>
                              </div>

                            <!-- <div class="menu">
                                <span class="fa-stack">
                                    <span class="date"></span><i class="far fa-calendar fa-stack-1x"></i></span>
                                    <strong class="fa-stack-x"><%= todos[key].dateCreated%></strong>
                                </span>
                                <span class="toggle"><i class="fas fa-edit"></i></span>
                                <span><form class="insane" action="?_method=DELETE" method="POST">
                                    <input class="hidden" type="text" name="id" value="<%=todos[key]._id%>">
                                    <button type="submit"><i class="fas fa-check"></i></button>
                                </form>
                                </span>
                                <form class="hiddenForm" action="?_method=PUT" method="POST">
                                    <input class="edit-input" type="text" name="description" value="<%=todos[key].description%>">
                                    <input class="hidden" type="text" name="id" value="<%=todos[key]._id%>">
                                    <button type="submit"><i class="far fa-check-square"></i></button>
                                </form>
                            </div> -->
                        </div>
                    <% } %>
                <% } %> 
                    
            </div>
        </div>
    </div>

    
<script src="https://kit.fontawesome.com/8ba3d5cd30.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/todo.js"></script>
</body>
</html>